body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background: #000;
}

label {
  position: relative;
}

label input[type="checkbox"] {
  opacity: 0;
  display: none;
}

.check {
  display: block;
  width: 40px;
  height: 20px;
  border: 1px solid #222;
  border-radius: 40px;
  transition: 0.5s;
  margin-right: 2px;
}

label input[type="checkbox"]:checked ~ .check {
  border: 1px solid #fff;
}

.check:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #222;
  transition: 0.5s;
}

label input[type="checkbox"]:checked ~ .check:before {
  box-shadow: inset 0 0 0 1px #fff;
  background: #fff;
  transform: translateX(20px);
}

.text {
  display: block;
  position: absolute;
  top: 0;
  right: -40px;
  width: 40px;
  font-size: 20px;
  transition: 0.5s;
  font-weight: bold;
  color: #222;
}

.text.on {
  transform: translateY(20px);
  opacity: 0;
}

label input[type="checkbox"]:checked ~ .text.on {
  transform: translateY(0);
  opacity: 1;
  color: #fff;
}

label input[type="checkbox"]:checked ~ .text.off {
  transform: translateY(-20px);
  opacity: 0;
}
