<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="shortcut icon"
            href="../../favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="style.css" />
        <title>Pure CSS Masonary Grid</title>
    </head>
    <body>
        <div class="container">
            <div class="box">
                <img src="images/image1.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maxime, reprehenderit, harum dolorem eveniet veritatis,
                    assumenda omnis dicta magnam illo quibusdam at ipsum cumque
                    quae sequi!
                </p>
            </div>
            <div class="box">
                <img src="images/image2.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolor nulla magni laudantium officia atque corrupti nemo
                    nostrum soluta velit neque! Debitis voluptatem ipsam aliquid
                    laborum, iusto blanditiis laudantium. Labore, dolores!
                </p>
            </div>
            <div class="box">
                <img src="images/image3.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam, ex.
                </p>
            </div>
            <div class="box">
                <img src="images/image4.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Cupiditate fuga quisquam blanditiis commodi a consequatur!
                </p>
            </div>
            <div class="box">
                <img src="images/image5.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Saepe itaque beatae nemo illum possimus dolor fugiat nostrum
                    incidunt recusandae aliquam?
                </p>
            </div>
            <div class="box">
                <img src="images/image6.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="box">
                <img src="images/image7.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Veniam voluptate consequatur sit accusantium! Eligendi sequi
                    sint nisi?
                </p>
            </div>
            <div class="box">
                <img src="images/image8.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur fuga blanditiis at quod?
                </p>
            </div>
            <div class="box">
                <img src="images/image9.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Corporis soluta cupiditate sed laborum earum molestias odit,
                    est maxime eaque dicta, nulla atque?
                </p>
            </div>
            <div class="box">
                <img src="images/image10.jpg" />
                <h2>What is Lorem Ipsum?</h2>
                <p>Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </body>
</html>
