@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
}

.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #000;
}
.slider .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  clip-path: circle(0px at center);
}
.slider input[type="radio"]:checked + .imgBox {
  z-index: 10;
  clip-path: circle(1000px at center);
  transition-delay: 0.75s;
}
.slider .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .imgBox .content {
  position: relative;
  text-align: center;
  max-width: 800px;
}
.slider .imgBox .content h2 {
  font-size: 6em;
  line-height: 1em;
  color: #ffc371;
}
.slider .imgBox .content p {
  font-size: 1.1em;
  color: #ff5f6d;
}
.slider .imgBox .content a {
  position: relative;
  display: inline-block;
  background: #ffafbd;
  padding: 10px 30px;
  color: #8e2de2;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
}
.slider input[type="radio"] {
  position: relative;
  z-index: 1000;
  margin: 5px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
}
