body {
  margin: 0;
  padding: 0;
  background: #ff2300;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 span {
  float: left;
  color: #fff;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: table-cell;
  text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
    text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
      0 2px 5px rgba(0, 0, 0, 0.2);
  }

  50% {
    transform: translateY(-20px);
    text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
      0 25px 5px rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: translateY(0px);
    text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
      0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
h1 span:nth-child(1) {
  animation-delay: 0.1s;
}
h1 span:nth-child(2) {
  animation-delay: 0.2s;
}
h1 span:nth-child(3) {
  animation-delay: 0.3s;
}
h1 span:nth-child(4) {
  animation-delay: 0.4s;
}
h1 span:nth-child(5) {
  animation-delay: 0.5s;
}
h1 span:nth-child(6) {
  animation-delay: 0.6s;
}
h1 span:nth-child(7) {
  animation-delay: 0.7s;
}
