body {
  margin: 0;
  padding: 0;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background: url(bg.jpg);
}
.light {
  position: fixed;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
}
