@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #ecd4d4;
  font-family: "Passion One", cursive;
}

div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 7em;
  -webkit-text-stroke: 1px #000;
  animation: animate 2.5s cubic-bezier(0.39, 0.24, 0.49, 1) infinite;
  /* transform-origin: bottom left; */
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) scaleY(1);
  }

  20% {
    transform: translate(-50%, -50%) scaleY(1);
  }

  50% {
    transform: translate(-50%, -50%) scaleY(3);
  }

  80% {
    transform: translate(-50%, -50%) scaleY(1);
  }

  100% {
    transform: translate(-50%, -50%) scaleY(1);
  }
}

div span:nth-child(1) {
  animation-delay: 0.1s;
  left: 48%;
  z-index: 5;
}
div span:nth-child(2) {
  animation-delay: 0.3s;
  color: #ffc400;
  left: 49%;
  z-index: 4;
}
div span:nth-child(3) {
  animation-delay: 0.5s;
  color: #ff9100;
  z-index: 3;
}
div span:nth-child(4) {
  animation-delay: 0.7s;
  color: #fd7373;
  left: 51%;
  z-index: 2;
}
div span:nth-child(5) {
  animation-delay: 0.9s;
  color: #ff3e3e;
  left: 52%;
  z-index: 1;
}
