body {
    margin: 0;
    padding: 0;
    background: #ff3772;
    font-family: sans-serif;
}
ul {
    position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 10px 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
ul li {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: 0.5s;
}
ul li:nth-child(1) {
    background: rgba(255, 255, 255, 0.6);
}
ul li:nth-child(2) {
    background: rgba(255, 255, 255, 0.4);
}
ul li:nth-child(3) {
    background: rgba(255, 255, 255, 0.2);
}

ul li span:nth-child(1) {
    width: 30px;
}
ul li span:nth-child(2) {
    width: 200px;
}
ul li span:nth-child(3) {
    width: 100px;
    text-align: right;
}
ul li span:nth-child(4) {
    width: 70px;
    text-align: right;
}
ul li:hover {
    transform: scale(1.06);
    background: #ff3772;
}
