/* fonts */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* layout */
#header {
  background: url(../img/header_bg2.jpg) repeat-x center top;
  height: 280px;
}
#nav {
  display: none;
}
#nav.show {
  display: block;
}
#tit {
  background: #000;
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
}
#contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contents .container {
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}

#cont-left {
  width: 250px;
  float: left;
}
#cont-center {
  overflow: hidden;
  margin-right: 250px;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
#cont-right {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}
#footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #dbdbdb;
}
/* container */
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  /* background: rgba(0, 0, 0, 0.6); */
}

/* quick */
.quick {
  text-align: right;
}
.quick a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0 5px 10px;
  transition: all 0.5s ease;
}
.quick a:hover {
  color: #ccc;
}

/* title */
.title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 75px;
}
.title p {
  display: inline-block;
  font-size: 24px;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
}
.title h1 {
  margin: 5px;
}
.title h1 a {
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: -4px;
}

/* icon-font */
.icon-font {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.icon-font li {
  position: relative;
  display: inline;
}
.icon-font li a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgba(238, 153, 120, 0.4);
  color: #fff;
  font-size: 35px;
  border-radius: 50%;
  margin: 0 3px;
}
.icon-font li a i {
  line-height: 60px;
}
.icon-font li a .tool {
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: -60px;
  background: rgba(238, 153, 120, 0.4);
  padding: 1px 7px;
  transform: translateX(-50%);
  border-radius: 6px 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.icon-font li a:hover .tool {
  opacity: 1;
  top: -50px;
}
.icon-font li a .tool:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 5px solid rgba(238, 153, 120, 0.4);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.ie7 .icon-font {
  display: none;
}
.ie8 .icon-font li a .tool {
  display: none;
}

/* nav */
.nav {
  display: inline-block;
  padding: 30px 0;
}
.nav h2 {
  font-size: 16px;
  color: #ff6200;
  padding-bottom: 5px;
}
.nav li {
  box-sizing: border-box;
  float: left;
  width: 20%;
  position: relative;
  padding-left: 8px;
  margin: 2px 0;
}
.nav li:before {
  content: '';
  width: 3px;
  height: 3px;
  background: #ff6200;
  position: absolute;
  left: 0;
  top: 4px;
  border-radius: 50%;
}
.nav li a {
  padding: 3px;
  border-radius: 2px;
  transition: all 0.1s ease;
}
.nav li a:hover {
  background: #ff893f;
  color: #fff;
}

/* tit */
.tit {
  text-align: center;
}

.tit h2 {
  font-size: 39px;
  color: #ff6200;
  font-family: 'Nanum Pen Script', cursive;
}

.tit .btn {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 35px;
  transform: translateY(-50%);
}

.tit .btn a {
  width: 40px;
  height: 40px;
  display: block;
  background: #ff893f;
  font-size: 25px;
  border-radius: 50%;
  color: #fff;
  line-height: 42px;
}

/* cbox */
.cbox {
  padding: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.cbox h4 {
  padding: 5px 0;
}

.cbox .cbox-tit {
  font-size: 20px;
  color: #ff6f15;
  font-weight: bold;
}
.cbox .cbox-desc {
  border-bottom: 1px dashed #000;
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: #878787;
}
.cbox.column1 {
  border-bottom: 0;
}
.cbox.column2 {
  background: #fff;
}
.cbox.column3 {
  border-bottom: 0;
}
.cbox.column6 {
  border-bottom: 0;
}
.cbox.column9 {
  border-bottom: 0;
}

/* menu */
.menu {
}
.menu li {
  position: relative;
}
.menu li a {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  color: #878787;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}
.menu li a:hover {
  color: #262626;
}
.menu li a i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* notice */
.notice {
  position: relative;
}
.notice h5 {
  font-size: 14px;
  color: #ff893f;
  padding: 5px 0;
}
.notice li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1px 0;
  position: relative;
  padding-left: 8px;
}
.notice li:before {
  content: '';
  width: 3px;
  height: 3px;
  background: #ff893f;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 50%;
}
.notice li a {
  color: #878787;
  transition: all 0.3s ease;
}
.notice li a:hover {
  color: #ff893f;
}
.notice .more {
  position: absolute;
  right: 15px;
  top: 10px;
  text-transform: uppercase;
  font-size: 9px;
}
.notice .more a {
  color: #878787;
  transition: all 0.3s ease;
}
.notice .more a:hover {
  color: #ff893f;
}

/* blog */
.blog {
}
.blog h5 {
  font-size: 14px;
  color: #ff893f;
  border-bottom: 3px;
}
.blog .blog-img {
  position: relative;
  display: block;
  color: #fff;
  font-size: 16px;
  margin-bottom: 3px;
}
.blog .blog-img img {
  display: block;
}
.blog .blog-img em {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-img:hover em {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* blog2 */
.blog2 h5 {
  font-size: 14px;
  color: #ff893f;
  border-bottom: 3px;
}
.blog2 .blog-img {
  position: relative;
  display: block;
  color: #fff;
  overflow: hidden;
}
.blog2 .blog-img:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  transition: all 0.4s ease-in-out;
  z-index: 90;
}
.blog2 .blog-img:hover:after {
  background: rgba(0, 0, 0, 0.4);
}
.blog2 .blog-img img {
  display: block;
  transition: all 0.4s ease-in-out;
}
.blog2 .blog-img:hover img {
  transform: scale(1.5);
}
.blog2 .blog-img em {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  font-size: 0;
}
.blog2 .blog-img:hover em {
  opacity: 1;
  font-size: 16px;
}

/* square */
.square {
}
.square a {
  float: left;
  width: 19%;
  margin: 0.5%;
}
.square a img {
  display: block;
}

/* video */
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video .iframe {
  border: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* rotate */
.rotate {
  position: relative;
}
.rotate a {
  display: block;
  text-align: center;
  color: #fff;
  perspective: 600px;
}
.rotate a .front {
  transform: rotateX(0deg) rotateY(0deg);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.rotate a .back {
  background: salmon;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotateX(0deg) rotateY(-180deg);
  transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
}
.rotate a:hover .front {
  transform: rotateX(0deg) rotateY(180deg);
}
.rotate a:hover .back {
  transform: rotateX(0deg) rotateY(0deg);
  z-index: 1;
}

/* rotate2 */
.rotate2 {
  position: relative;
  perspective: 500px;
}
.rotate2 img {
  display: block;
}
.rotate2:after {
  content: '';
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 7%;
  left: 10%;
  right: 10%;
  bottom: 7%;
  display: inline-block;
  transform: rotateX(90deg);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.rotate2:hover:after {
  transform: rotateX(0deg);
  opacity: 1;
}

/* footer */
.footer {
  text-align: center;
  padding: 30px 50px;
}
.footer li {
  position: relative;
  display: inline;
  padding: 0 7px;
  white-space: nowrap;
}
.footer li:before {
  content: '';
  width: 1px;
  height: 10px;
  background: #000;
  position: absolute;
  left: 0;
  top: 2px;
}
.footer li:first-child:before {
  width: 0;
}
.footer address {
  padding-top: 15px;
}
.footer li a,
.footer address a {
  color: #000;
  transition: all 0.3s ease;
}
.footer li a:hover,
.footer address a:hover {
  color: #ff893f;
}

/* mediaQuery */
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .row {
    padding: 0 15px;
  }
  .tit .btn {
    margin-right: 15px;
  }
  #contents .container {
    border: 0;
  }
}

@media (max-width: 1024px) {
  .nav li {
    width: 25%;
  }
}

@media (max-width: 960px) {
  #cont-center {
    margin: 0;
    border-right: 0;
  }
  #cont-right {
    position: static;
    width: 100%;
    border-top: 1px solid #dbdbdb;
    overflow: hidden;
  }
  .square a {
    width: 24%;
  }
  .square a:nth-child(5n) {
    display: none;
  }
  #cont-right .cbox {
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
  }
  #cont-right .cbox .right-img {
    height: 150px;
  }
  #cont-right .cbox .right-img img {
    height: 100%;
    object-fit: cover;
  }
  #cont-right .cbox.column7 {
    border-right: 1px solid #dbdbdb;
  }
  #cont-right .cbox.column8 {
    border-right: 1px solid #dbdbdb;
  }
  #cont-right .cbox.column9 {
    border-right: 1px solid transparent;
    border-bottom: 1px solid #dbdbdb;
  }
}

@media (max-width: 768px) {
  .nav li {
    width: 33.3333%;
  }
  .square a {
    width: 32.3333%;
  }
  .square a:nth-child(5) {
    display: block;
  }
}

@media (max-width: 600px) {
  .title,
  .icon-font,
  .nav,
  .tit .btn {
    display: none;
  }
  #cont-left {
    float: none;
    width: 100%;
  }
  #cont-center {
    border-left: 0;
    border-top: 1px solid #dbdbdb;
  }
  .cbox.column1 {
    padding: 0;
  }
  .cbox.column1 .cbox-tit {
    display: none;
  }
  .cbox.column1 .cbox-desc {
    display: none;
  }
  .cbox.column1 .menu {
    background: url(../img/header_bg2.jpg) repeat-x center top;
  }
  .cbox.column1 .menu li a i {
    display: none;
  }
  .cbox.column1 .menu ul {
    overflow: hidden;
  }
  .cbox.column1 .menu li {
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    border-right: 1px solid #dbdbdb;
    text-align: center;
  }
  .cbox.column1 .menu li:nth-child(3n) {
    border-right: 0;
  }
  .cbox.column1 .menu li a {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  .cbox.column1 .menu li a:hover {
    color: #262626;
  }
  .square a {
    width: 49%;
  }
  .square a:nth-child(5) {
    display: none;
  }

  #cont-right .cbox {
    width: 50%;
  }
  #cont-right .cbox.column7 {
    border-right: 1px solid #dbdbdb;
  }
  #cont-right .cbox.column8 {
    border-right: 1px solid transparent;
  }
  #cont-right .cbox.column9 {
    display: none;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
  .square a {
    width: 98%;
    margin: 1%;
  }
  #cont-right .cbox {
    width: 100%;
  }
  #cont-right .cbox.column7 {
    border-right: 0;
  }
  #cont-right .cbox.column8 {
    border-right: 0;
  }
}
