body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ccc;
}
.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 400px;
}
.full-width {
    width: 100%;
}
.full-width .logo {
    color: #fff;
    background: #262626;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    width: 80px;
    text-align: center;
    font-weight: bold;
}
nav {
    width: 100%;
}
nav ul {
    margin: 20px 0 0;
    padding: 0;
    border-radius: 4px;
    background: #262626;
    overflow: hidden;
}
nav ul li {
    list-style: none;
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
.active,
nav ul li a:hover {
    background: #f00;
}
.col-7 {
    width: 70%;
    min-height: 400px;
    float: left;
}
.col-3 {
    width: 28%;
    min-height: 400px;
    background: #f1f1f1;
    float: right;
    box-sizing: border-box;
    padding: 20px;
}
.mg-top20 {
    margin-top: 20px;
}
.post {
    background: #ccc;
    padding: 20px;
    background: #f1f1f1;
}
img {
    max-width: 100%;
}
h1 {
    margin: 10px 0;
}
.col-3 ul {
    margin: 0;
    padding: 0;
}
.col-3 ul li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.col-3 ul li:hover {
    background: #f00;
    color: #fff;
}
.footer-text {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
    nav ul li {
        display: block;
        text-align: center;
    }
    .col-7,
    .col-3 {
        width: 100%;
        float: none;
    }
    .col-3 {
        margin-top: 20px;
    }
}
